[mysql]
default-character-set = utf8mb4
[mysqld]
require_secure_transport=ON

log_bin=mysql-bin
log_output = FILE
log-error = error.log
general_log = 1
general_log_file = general.log
slow_query_log = 1
slow_query_log_file = slow_query.log
max_allowed_packet = 500M
max_connections = 200
max_connect_errors = 10
character-set-server = utf8mb4
default-storage-engine = INNODB
bind_address = *
default-time-zone = '+8:00'